.auth-layout{
    width:100%;
    min-height:100vh;
    display:flex;
}

.auth-left{
    flex:1;
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    display:flex;
    align-items:center;
    justify-content:center;
    padding:60px;
    color:white;
}

.overlay{
    max-width:520px;
}

.overlay h1{
    font-size:48px;
    line-height:1.2;
    margin-bottom:25px;
    font-weight:700;
}

.overlay p{
    font-size:18px;
    line-height:1.8;
    opacity:.9;
}

.auth-right{
    width:500px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:50px;
}

@media(max-width:900px){

.auth-layout{
    flex-direction:column;
}

.auth-right{
    width:100%;
}

.overlay h1{
    font-size:34px;
}

}